@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");

body {
    font-family: oswald;
    background: #4a73ad;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background-color: #b9bbe5(255, 255, 255, 0.8);
    padding: 16px;
    border-radius: 16px;
    width: 30%;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.8);
}

label {
    display: block;
}
